*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.modal{
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.full-imge{
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
}
.open{
    opacity: 1;
    pointer-events: all;
}